@charset "utf-8";

/*主页样式*/

html {
	font: 12px '宋体';
}

a {
	color: #000;
}

.top {
	background-color: #F7F7F7;
	height: 26px;
	border-bottom: 1px solid #D8D8D8;
}

.top_page {
	width: 970px;
	height: 26px;
	margin: 0 auto;
}

.top_page_l {
	line-height: 26px;
}

.top_page_r ul li {
	float: left;
	padding-right: 10px;
	line-height: 26px;
}

.top_page_r ul li s {
	width: 14px;
	height: 12px;
	background: url(../img/sprite.png);
	display: inline-block;
	vertical-align: middle;
}

.logo {
	width: 970px;
	height: 98px;
	margin: 0 auto;
}

.logo_l {
	width: 200px;
	height: 55px;
	background: red;
	margin: 24px 0px 19px 9px;
	background: url(../img/sprite.png) -20px 0;
	text-indent: -9999em;
}

.logo_r {
	width: 530px;
	height: 42px;
	border: 1px solid #C9C9C9;
	margin-top: 29px;
}

.logo_r_content {
	margin: 5px 5px 5px 4px;
}

.logo_r_search {
	width: 418px;
	height: 28px;
	border: 1px solid #C9C9C9;
	color: #999999;
}

.logo_r_btn {
	width: 99px;
	height: 30px;
	background: #2F70D0;
	color: white;
}

.nav {
	width: 970px;
	height: 25px;
	margin: 0 auto;
	border-bottom: 2px solid #0266A3;
}

.nav li {
	float: left;
	padding: 0 15px 0 15px;
	line-height: 25px;
	font-size: 14px;
	font-weight: bold;
}

.nav li a {
	color: #0266A3;
}

.nav li:hover {
	background-color: #0266A3;
}

.nav li:hover a {
	color: white;
}

.banner {
	width: 970px;
	height: 210px;
	margin: 0 auto;
	margin-top: 10px;
}

.subNav {
	width: 200px;
	height: 210px;
	background: #F7FAFF;
}

.ad {
	width: 520px;
	height: 210px;
	margin-left: 11px;
}

.ad img {
	width: 100%;
	height: 210px;
}

.message {
	width: 230px;
	height: 210px;
}

.subNav h2 {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	background-color: #0266A3;
	color: white;
	padding-left: 20px;
}

.subNav s {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/sprite.png) -225px 0;
	vertical-align: middle;
}

.subNav li {
	font-size: 15px;
	padding-top: 11px;
	margin-left: 9px;
}

.subNav li a {
	padding-left: 15px;
}

.message_top {
	background: #F7FAFF;
	height: 95px;
	border: 1px solid #DDDDDD;
	margin-bottom: 19px;
}

.message_top s {
	margin: 20px 10px 0 10px;
	width: 40px;
	height: 40px;
	display: inline-block;
	background: url(../img/sprite.png) -250px 0;
}

.message_top .fw {
	font-weight: bold;
	padding: 7px 0 0 18px;
}

.message .cheap {
	margin-top: 25px;
}

.message_bottom {
	background: #F7FAFF;
	height: 92px;
	border: 1px solid #DDDDDD;
}

.message_bottom .findMessage {
	text-align: center;
	font-size: 14px;
	margin-top: 11px;
}

.message_bottom .phone {
	text-align: center;
	color: #3F9CE0;
	margin-top: 10px;
}

.message_bottom .btn {
	width: 81px;
	height: 23px;
	background: url(../img/sprite.png) -295px 0;
	margin-left: 75px;
	margin-top: 9px;
}

.message_bottom .phone s {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	width: 17px;
	height: 17px;
	background: url(../img/sprite.png) -225px -30px;
}

.metaral {
	width: 950px;
	height: 34px;
	margin: 0 auto;
	margin-top: 14px;
	border-top: 2px solid #C3D7E4;
	line-height: 34px;
	background: #ECF1F7;
	font-weight: bold;
	padding-left: 20px;
}

.product {
	width: 970px;
	height: 345px;
	margin: 0 auto;
	margin-top: 12px;
}

.product_l {
	width: 738px;
	height: 345px;
	border: 1px solid #D8D8D8;
}

.product_l_top {
	padding: 17px 0 0 26px;
	width: 712px;
	height: 155px;
}

.product1 {
	width: 350px;
	height: 146px;
}

.buy {
	width: 99px;
	height: 143px;
}

.img {
	height: 100px;
	border: 1px solid #CACACA;
}

.img s {
	display: inline-block;
	width: 90px;
	height: 62px;
	background: url(../img/sprite.png) 0 -70px;
	margin: 10px 4px 0 3px;
}

.buy .btn {
	background: #0A84E3;
	width: 99px;
	color: white;
	height: 26px;
	margin-top: 15px;
}

.explain {
	width: 250px;
	height: 143px;
}

.goodwife {
	padding: 10px 0 0 10px;
	font-size: 14px;
}

.auto {
	color: #863E01;
	padding: 13px 0 0 15px;
}

.money {
	padding: 23px 0 0 11px;
}

.money span {
	color: red;
}

.explain .money s {
	text-decoration: line-through;
}

.explain .buyed {
	color: red;
	padding: 28px 0 0 11px;
	font-size: 14px;
}

.product_l_line {
	margin: 0 4px 0 4px;
	border: 1px solid #CCC;
}

.product_r {
	width: 228px;
	height: 345px;
	border: 1px solid #CCC;
}

.product_r h2 {
	height: 28px;
	line-height: 28px;
	padding-left: 15px;
	border-bottom: 1px solid #E0E6F0;
}

.product_r ul {
	padding-top: 11px;
}

.product_r li {
	line-height: 23px;
	padding-left: 5px;
}

.safe {
	width: 970px;
	height: 500px;
	background: lightgreen;
	margin: 0 auto;
	background: url(../img/img6.jpg);
}

.friend_link {
	width: 970px;
	height: 103px;
	margin: 0 auto;
	margin-top: 11px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 3px solid #0A7EC3;
	color: #666666;
}

.friend_link a {
	color: #666666;
}

.friend_link a:hover {
	color: black;
}

.friend_link .link_p1 {
	margin-top: 30px;
}

.friend_link .link_p2 {
	margin-top: 14px;
	margin-left: 61px;
}

.about_us {
	width: 970px;
	height: 91px;
	margin: 0 auto;
}

.about_us p {
	margin-top: 14px;
	text-align: center;
}